/*-------------------------------------------------------*/
/*공용*/
/*-------------------------------------------------------*/
@charset "UTF-8";
@font-face {
	font-family:'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { margin:0; padding:0; }
ul,ol { list-style:none; }
a { color:#000; text-decoration:none; }

/* clearfix float 사용시 안정성 높음 */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
/*-------------------------------------------------------*/
/*공용 - 끝*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*body*/
/*-------------------------------------------------------*/
body {
	font-family:'GmarketSansMedium';
	font-weight:normal;
	font-style:normal;
	font-size:12px;
	line-height:24px;
	letter-spacing:0.05em;
	color:#333333;
	background-color: #fff;
}
/*-------------------------------------------------------*/
/*body - end*/
/*-------------------------------------------------------*/


	

/*-------------------------------------------------------*/
/* 06_BEST review - 1920 ~ 1320px (PC) */
/*-------------------------------------------------------*/

#review_wrap {
	width: 100%;
	margin-bottom: 100px;
}

.review_center {
	width: 1320px;
	margin: 0px auto;
	overflow: hidden;
}

/*-------------------------------------------------------*/

 /* 사이드 이펙트1 */
 .review {
	position: relative;
	perspective: 600px; 
	display: block;
	width: 390px;
	height: 300px;
	overflow: hidden;
}

.review img {
	width: 100%;
}

 .review .front {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: all 0.5s ease-in-out;
	backface-visibility: hidden;
	background-image: url(../images/06_review/review_img_390_02_01.png);
	background-repeat: no-repeat;
	background-position: center;
 }
 .review .back {
	 position: absolute; top: 0; left: 0;
	 width: 100%; height: 100%; z-index: -1;
	 transform-style: preserve-3d;
	 color: #fff;
	 /* background: #4038dc; */
	 transform: rotateY(-180deg);
	 transition: all 0.5s ease-in-out;
	 backface-visibility: hidden;
	 background-image: url(../images/06_review/review_img_390_01.png);
	 background-repeat: no-repeat;
	 background-position: center;
 }

.review_2 .front {
	background-image: url(../images/06_review/review_img_390_02_02.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_2 .back {
	background-image: url(../images/06_review/review_img_390_02.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_3 .front {
	background-image: url(../images/06_review/review_img_390_02_03.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_3 .back {
	background-image: url(../images/06_review/review_img_390_03.png);
	background-repeat: no-repeat;
	background-position: center;
}



 .review:hover .front {transform: rotateY(180deg)}
 .review:hover .back {transform: rotateY(0deg); z-index: 1;}

 /*-------------------------------------------------------*/

 .review_text {
	text-align: center;
 }

 .review_text h1 {
	color: #4e6458;
	margin: 20px 0;
} 

.review_text p {
	font-family: 'NEXON Lv2 Gothic';
	font-weight: 600;
	color: #a67c52;
	font-size: 17px;
	margin: 10px 0 20px;
}

/*-------------------------------------------------------*/
.review_box {
	width: 100%;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}
.review_box .review {
	text-align: center;
}	

.front_text {
	padding: 20px;
}

.front h2 {
	color: #fff;
	margin: 10px 0;
}

.review_tx1 {
	font-family: 'NEXON Lv2 Gothic';
	font-size: 16px;
	color: #ffc68c;
	padding: 20px 0;
	border-top: 1px solid #ffc68c;
	border-bottom: 1px solid #ffc68c;
}

.review_tx2 {
	font-family: 'NEXON Lv2 Gothic';
	font-size: 15px;
	color: #d8d8d8;
	padding: 20px 0;
}

.review_br {
	display: block;
}

.review_tx3 {
	color: #d8d8d8;
}


/*-------------------------------------------------------*/
/* 06_BEST review - 1319 ~ 769px (PC) */
/*-------------------------------------------------------*/

	@media screen and (max-width: 1319px) {
	
		.review_center {
			width: 100%;
		}

/*-------------------------------------------------------*/

 /* 사이드 이펙트1 */
		.review {
			width: 60%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

		.review .front {
			background-image: url();
 		}

 		.review .back {
			background-image: url(../images/06_review/review_img_or_01.jpg);
			background-size: cover;
 		}

		.side2 .front {
			background-image: url();
		}

		.side2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.side3 .front {
			background-image: url();
		}

		.side3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

 /*-------------------------------------------------------*/

/*-------------------------------------------------------*/
		.review_box {
			flex-direction: column;
		}
	}

/*-------------------------------------------------------*/
/* 06_BEST review - 768 ~ 371px (tablet) */
/*-------------------------------------------------------*/
	@media screen and (max-width: 768px) {
	
		#review_wrap {
			margin-bottom: 50px;
		}
		
		.review_center {
			width: 100%;
		}	

/*-------------------------------------------------------*/

 		/* 사이드 이펙트1 */
 		.review {
			width: 90%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

		.review .front {
			background-image: url();
 		}
 		.review .back {
			background-image: url(../images/06_review/review_img_or_01.jpg);
			background-size: cover;
 		}

		.review_2 .front {
			background-image: url();
		}

		.review_2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.review_3 .front {
			background-image: url();
		}

		.review_3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

	}
	
/*-------------------------------------------------------*/
/* 06_BEST review - 370 ~ 0px (mobile) */
/*-------------------------------------------------------*/
	@media screen and (max-width: 370px) {
	
		#review_wrap {
			margin-bottom: 50px;
		}

		.review_center {
		width: 100%;
		}

/*-------------------------------------------------------*/

 		/* 사이드 이펙트1 */
 		.review {
			width: 90%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

 		.review .front {
			background-image: url();
 		}

 		.review .back {
		 background-image: url(../images/06_review/review_img_or_01.jpg);
		 background-size: cover;
		}

		.review_2 .front {
			background-image: url();
		}

		.review_2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.review_3 .front {
			background-image: url();
		}

		.review_3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

	}
	
