/*-------------------------------------------------------*/
/*공용*/
/*-------------------------------------------------------*/
@charset "UTF-8";
@font-face {
	font-family:'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { margin:0; padding:0; }
ul,ol { list-style:none; }
a { color:#000; text-decoration:none; }

/* clearfix float 사용시 안정성 높음 */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
/*-------------------------------------------------------*/
/*공용 - 끝*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*body*/
/*-------------------------------------------------------*/
body {
	font-family:'GmarketSansMedium';
	font-weight:normal;
	font-style:normal;
	font-size:12px;
	line-height:24px;
	letter-spacing:0.05em;
	color:#333333;
	background-color: #fff;
}
/*-------------------------------------------------------*/
/*body - end*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*01_header - 1920 ~ 1320px(PC)*/
/*-------------------------------------------------------*/

#header_wrap {
	width: 100%;
	height: 500px;
	background-image: url(../images/02_main_banner/main_banner_bg.png);
	background-position: center;
	background-attachment: fixed;
    background-repeat: repeat;
}

.header {
	width: 1320px;
	margin: 0 auto;
	display: flex;
	padding: 1em;
	box-sizing: border-box;
}

header h1 {
	width: 15%;
}

header h1 a {
	color: #fff;
	font-size: 20px;
	padding: 2px;
	background-color: rgba(166, 124, 82, 0);
	border-radius: 50%;
	transition: box-shadow 0.25s ease-in-out;
}

header h1 a:hover {
	box-shadow: inset -500px 0 0 0 #a67c52;
	border-radius: 50%;
}

.gnb {
	width: 85%;
	display: flex;
	justify-content: space-evenly;
}

.gnb a {
	font-size: 14px;
	color: #fff;
	transition: color 0.25s ease-in-out;
}

.gnb a:hover {
	font-size: 14px;
	border-bottom: 1px solid #a67c52;
	color: #a67c52;
}

.more-btn {
	display: none;
}
/*-------------------------------------------------------*/
/*01_header - 1319 ~ 768px(PC)*/
/*-------------------------------------------------------*/
@media screen and (max-width: 1319px) {
	/* #header_wrap {
		width: 100%;
		height: 500px;
		background-image: url(../images/02_main_banner/main_banner_bg.png);
		background-position: center;
		background-attachment: fixed;
		background-repeat: repeat;
	} */

	.header {
		width: 100%;
		/* margin: 0 auto; */
		/* display: flex; */
		flex-direction: column;
		padding: 1em 1em 0;
	}
	
	header h1 {
		width: 100%;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		box-sizing: border-box;
	}
	
	/* header h1 a {
		color: #fff;
		font-size: 20px;
		padding: 2px;
		background-color: rgba(166, 124, 82, 0);
		border-radius: 50%;
		transition: box-shadow 0.25s ease-in-out;
	} */
	
	/* header h1 a:hover {
		box-shadow: inset -500px 0 0 0 #a67c52;
		border-radius: 50%;
	} */
	
	.gnb {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	
	.gnb a {
		font-size: 13px;
		/* color: #fff;
		transition: color 0.25s ease-in-out; */
	}
	
	.gnb a:hover {
		font-size: 13px;
		/* border-bottom: 1px solid #a67c52;
		color: #a67c52; */
		
	}
}

/*-------------------------------------------------------*/
/*01_header - 768 ~ 371px(tablet) */
/*01_header - 371 ~ (mobile)*/
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {
	/* #header_wrap {
		width: 100%;
		height: 500px;
		background-image: url(../images/02_main_banner/main_banner_bg.png);
		background-position: center;
		background-attachment: fixed;
		background-repeat: repeat;
	} */

	.header {
		width: 100%;
		/* margin: 0 auto; */
		/* display: flex; */
		flex-direction: column;
		padding: 1em 1em 0;
		box-sizing: border-box;
	}
	
	header h1 {
		width: 100%;
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #fff;
		box-sizing: border-box;
	}
	
	/* header h1 a {
		color: #fff;
		font-size: 20px;
		padding: 2px;
		background-color: rgba(166, 124, 82, 0);
		border-radius: 50%;
		transition: box-shadow 0.25s ease-in-out;
	} */
	
	/* header h1 a:hover {
		box-shadow: inset -500px 0 0 0 #a67c52;
		border-radius: 50%;
	} */
	.more-btn {
		display: block;
		position: absolute;
		right: 10px;
		top: 4px;
		width: 40px;
		height: 40px;
		border-radius: 8px;
		border: none;
		background-color: transparent;
	}
	
	.more-btn .icon {
		display: block;
		width: 20px;
		height: 24px;
		margin: 0 auto;
		background: url(../images/01_header/icon-menu.svg) no-repeat center;
		background-size: contain;
	}

	.gnb {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		padding: 80px 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
		transition: 0.3s;
	}

	header h1.active {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: 0.3s;
	}

	.gnb.active {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		transition: 0.3s;
	}

	.gnb a {
		display: block;
		margin: auto;
		margin-bottom: 8px;
		padding: 12px;
	}
	.more-btn.active .icon {
		background: url(../images/01_header/icon-close.svg) no-repeat center;
		background-size: contain;
	}
}


/*-------------------------------------------------------*/
/*02_main banner*/
/*-------------------------------------------------------*/
#main_wrap {
	width: 100%;
}

.banner_center{
	width: 1320px;
	margin: 0 auto;
}

/* 이미지 슬라이드 */
.slider{
	width: 100%;
	height: 450px;
	margin: 0 auto;
	box-sizing: border-box;
}

figure img {
	width: 100%;
}

.slider figure {
	position: relative;
	top: 0; 
	left: 0; 
}

.slider figcaption {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	padding-top: 10em;
	font-family: 'NEXON Lv2 Gothic';
	text-align: center;
}

.slider figcaption p {
	display: block; 
	font-weight: bold; 
	font-size: 33px;
	color: #fff;
	padding: 10px 0;
	font-family: 'GmarketSansMedium';
	text-transform: uppercase; /*소,대문자 변환*/
	opacity: 0;
	transition: all .84s ease;
	transform: translateX(50px);
	margin-bottom: 0.8em;
}

.slider figcaption span {
	display: block;
	overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
	font-family: 'NEXON Lv2 Gothic';
	
	opacity: 0;
	transition: all .84s .2s ease;
	transform: translateX(50px);
}

.main_br_1, .main_br_2 {
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}
.main_br_2 {
	margin-bottom: 10px;
}
.main_br_3, .main_br_4 {
	font-size: 16px;
	line-height: 25px;
	color: #fff;
	font-family: 'GmarketSansMedium';
	color: #bbbbbb;
}


.slider .slick-active figcaption p {
	opacity: 1; 
	transform: translateX(0);
}
.slider .slick-active figcaption span {
	opacity: 1; 
	transform: translateX(0);
}

/*-------------------------------------------------------*/
/* 1319 ~ 768px */
/*-------------------------------------------------------*/
@media screen and (max-width: 1319px) {
	/* #main_wrap {
		width: 100%;
	} */
	
	.banner_center{
		width: 100%;
		/* margin: 0 auto; */
	}
	
	/* 이미지 슬라이드 */
	.slider{
		width: 100%;
		height: 429px;
		margin: 0 auto;
	}
	
	figure img {
		width: 100%;
		height: 429px;
	}

	.slider figure {
		/* position: relative; */
		top: 0; 
		left: 0; 
		/* box-sizing: border-box; */
	}
	
	/* .slider figcaption {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%;
		padding-top: 120px;
		box-sizing: border-box;
		font-family: 'NEXON Lv2 Gothic';
		text-align: center;
	} */
	
	.slider figcaption p {
		/* display: block; 
		font-weight: bold;  */
		font-size: 33px;
		/* color: #fff;
		padding: 10px 0;
		font-family: 'GmarketSansMedium';
		text-transform: uppercase;
		opacity: 0;
		transition: all .84s ease;
		transform: translateX(50px);
		margin-bottom: 0.8em; */
	}
	
	/* .slider figcaption span {
		display: block;
		overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
		font-family: 'NEXON Lv2 Gothic';	
		opacity: 0;
		transition: all .84s .2s ease;
		transform: translateX(50px);
	} */
	
	.main_br_1, .main_br_2 {
		font-size: 20px;
		line-height: 25px;
		/* color: #fff; */
	}
	.main_br_2 {
		margin-bottom: 10px;
	}
	.main_br_3, .main_br_4 {
		font-size: 16px;
		line-height: 22px;
		/* color: #fff;
		font-family: 'GmarketSansMedium';
		color: #bbbbbb; */
	}
	
	
	/* .slider .slick-active figcaption p {
		opacity: 1; 
		transform: translateX(0);
	}
	.slider .slick-active figcaption span {
		opacity: 1; 
		transform: translateX(0);
	} */
}

/*-------------------------------------------------------*/
/* 768 ~ 371px */
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {
	/* #main_wrap {
		width: 100%;
	} */
	
	.banner_center{
		width: 100%;
		/* margin: 0 auto; */
	}
	
	/* 이미지 슬라이드 */
	.slider{
		width: 100%;
		height: 450px;
		margin: 0 auto;
	}
	
	figure img {
		width: 100%;
		height: 450px;
	}

	.slider figure {
		/* position: relative; */
		top: 0; 
		left: 0; 
		/* box-sizing: border-box; */
	}
	
	/* .slider figcaption {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%;
		padding-top: 120px;
		box-sizing: border-box;
		font-family: 'NEXON Lv2 Gothic';
		text-align: center;
	} */
	
	.slider figcaption p {
		/* display: block; 
		font-weight: bold;  */
		font-size: 30px;
		/* color: #fff;
		padding: 10px 0;
		font-family: 'GmarketSansMedium';
		text-transform: uppercase;
		opacity: 0;
		transition: all .84s ease;
		transform: translateX(50px);
		margin-bottom: 0.8em; */
	}
	
	/* .slider figcaption span {
		display: block;
		overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
		font-family: 'NEXON Lv2 Gothic';	
		opacity: 0;
		transition: all .84s .2s ease;
		transform: translateX(50px);
	} */
	
	.main_br_1, .main_br_2 {
		font-size: 18px;
		line-height: 25px;
		/* color: #fff; */
	}
	.main_br_2 {
		margin-bottom: 10px;
	}
	.main_br_3, .main_br_4 {
		font-size: 14px;
		line-height: 22px;
		/* color: #fff;
		font-family: 'GmarketSansMedium';
		color: #bbbbbb; */
	}
	
	
	/* .slider .slick-active figcaption p {
		opacity: 1; 
		transform: translateX(0);
	}
	.slider .slick-active figcaption span {
		opacity: 1; 
		transform: translateX(0);
	} */
}

/*-------------------------------------------------------*/
/* 371px ~ */
/*-------------------------------------------------------*/
@media screen and (max-width: 370px) {
	/* #main_wrap {
		width: 100%;
	} */
	
	/* .banner_center{
		width: 100%;
		margin: 0 auto;
	} */
	
	/* 이미지 슬라이드 */
	.slider{
		width: 100%;
		height: 450px;
		margin: 0 auto;
	}
	
	figure img {
		width: 100%;
		height: 450px;
	}

	.slider figure {
		/* position: relative; */
		top: 0; 
		/* left: 0;  */
	}
	
	.slider figcaption {
		/* position: absolute;  */
		top: 0; 
		/* left: 0; 
		width: 100%;
		box-sizing: border-box;
		font-family: 'NEXON Lv2 Gothic';
		text-align: center; */
	}
	
	.slider figcaption p {
		/* display: block; 
		font-weight: bold;  */
		font-size: 24px;
		/* color: #fff;
		padding: 10px 0;
		font-family: 'GmarketSansMedium';
		text-transform: uppercase;
		opacity: 0;
		transition: all .84s ease;
		transform: translateX(50px);
		margin-bottom: 0.8em; */
	}
	
	/* .slider figcaption span {
		display: block;
		overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
		font-family: 'NEXON Lv2 Gothic';	
		opacity: 0;
		transition: all .84s .2s ease;
		transform: translateX(50px);
	} */
	
	.main_br_1, .main_br_2 {
		font-size: 14px;
		line-height: 25px;
		color: #fff;
	}
	/* .main_br_2 {
		margin-bottom: 10px;
	} */
	.main_br_3, .main_br_4 {
		font-size: 12px;
		line-height: 22px;
		/* color: #fff;
		font-family: 'GmarketSansMedium';
		color: #bbbbbb; */
	}
	
	
	/* .slider .slick-active figcaption p {
		opacity: 1; 
		transform: translateX(0);
	}
	.slider .slick-active figcaption span {
		opacity: 1; 
		transform: translateX(0);
	} */
}


/*-------------------------------------------------------*/
/*03_about us*/
/*-------------------------------------------------------*/
/* 1920 ~ 1320px */
#about_wrap {
	width: 100%;
}

.about_center {
	width: 1320px;
	margin: 100px auto;
	overflow: hidden;
}

.about_text {
	text-align: center;
}

.about_text h1 {
	color: #4e6458;
	margin: 20px 0;
} 

.about_text p {
	color: #4e6458;
	font-size: 17px;
	line-height: 26px;
}

.about_br {
	display: block;
}

.about_tx1 {
	margin-bottom: 20px;
}

.about_et1 {
	color: #a67c52;
}

.about_icon {
	text-align: center;
	margin-top: 40px;
	padding-bottom: 45px;
}

.about_icon ul li {
	display: inline;
	margin: 0 2px;
}

.about_icon ul li a {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0 60px;
	color: #fff;
	/* a태그 효과 */
	/* transition: all 0.3s ease; */
}

.about_icon ul li p {
	position: absolute;
	top: -70px;
	left: 50%;
	width: 80px;
	transform: translateX(-50%);
	font-size: 12px;
	line-height: 1.6;
	background-color: #507e65;
	padding: 5px 9px;
	border-radius: 6px 0;
	opacity: 0;
	transition: all 0.3s ease;
}

.about_icon ul li p::before {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	margin-left: -5px;
	border-top: 5px solid #507e65;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.about_icon ul li a:hover p {
	opacity: 1;
	top: -60px;
}
/* a태그 효과 */
/* .about_icon ul li a:hover {
	box-shadow: 0 0 0 3px rgba(80, 126, 101, 0.9) inset,
	0 0 0 100px rgba(0, 0, 0, 0.1) inset;
} */ 

.icon_br {
	display: block;
}

.about_btn {
	text-align: center;
	margin: 5px 0;
}

.about_btn a {
	color: #fff;
	background-color: #507e65;
	padding: 10px 40px 7px;
	border-radius: 50px;
}

.about_btn a:hover {
	background-color: #4e6458;
}

/*-------------------------------------------------------*/
/* 1319 ~ 768px */
/*-------------------------------------------------------*/
@media screen and (max-width: 1319px) {
	/* #about_wrap {
		width: 100%;
	} */
	
	.about_center {
		width: 100%;
		margin: 100px auto;
		overflow: hidden;
	}
	
	/* .about_text {
		text-align: center;
	} */
	
	/* .about_text h1 {
		color: #4e6458;
		margin: 20px 0;
	}  */
	
	/* .about_text p {
		color: #4e6458;
		font-size: 17px;
		line-height: 26px;
	}
	
	.about_br {
		display: block;
	}
	
	.about_tx1 {
		margin-bottom: 20px;
	} */
	
	/* .about_et1 {
		color: #a67c52;
	} */
	
	/* .about_icon {
		text-align: center;
		margin-top: 40px;
		padding-bottom: 45px;
	} */
	
	/* .about_icon ul li {
		display: inline;
		margin: 0 2px;
	} */
	
	.about_icon ul li a {
		/* position: relative;
		display: inline-block;
		width: 60px;
		height: 60px; */
		margin: 0 40px;
		/* color: #fff; */
		/* a태그 효과 */
		/* transition: all 0.3s ease; */
	}
	
	/* .about_icon ul li p {
		position: absolute;
		top: -70px;
		left: 50%;
		width: 80px;
		transform: translateX(-50%);
		font-size: 12px;
		line-height: 1.6;
		background-color: #507e65;
		padding: 5px 9px;
		border-radius: 6px 0;
		opacity: 0;
		transition: all 0.3s ease;
	} */
	
	/* .about_icon ul li p::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		margin-left: -5px;
		border-top: 5px solid #507e65;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	} */
	
	/* .about_icon ul li a:hover p {
		opacity: 1;
		top: -60px;
	} */
	/* a태그 효과 */
	/* .about_icon ul li a:hover {
		box-shadow: 0 0 0 3px rgba(80, 126, 101, 0.9) inset,
		0 0 0 100px rgba(0, 0, 0, 0.1) inset;
	} */ 
	
	/* .icon_br {
		display: block;
	} */
	
	/* .about_btn {
		text-align: center;
		margin: 5px 0;
	} */
	
	/* .about_btn a {
		color: #fff;
		background-color: #507e65;
		padding: 10px 40px 7px;
		border-radius: 50px;
	} */
	
	/* .about_btn a:hover {
		background-color: #4e6458;
	} */

}

/*-------------------------------------------------------*/
/* 768 ~ 371px */
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {

	/* #about_wrap {
		width: 100%;
	} */
	
	.about_center {
		/* width: 100%; */
		margin: 50px auto;
		/* overflow: hidden; */
	}
	
	/* .about_text {
		text-align: center;
	} */
	
	/* .about_text h1 {
		color: #4e6458;
		margin: 20px 0;
	}  */
	
	.about_text p {
		color: #4e6458;
		font-size: 14px;
		/* line-height: 26px; */
	}
	
	/* .about_br {
		display: block;
	} */

	.about_br2 {
		display: block;
	}
	
	/* .about_tx1 {
		margin-bottom: 20px;
	} */
	
	/* .about_et1 {
		color: #a67c52;
	} */
	
	.about_icon {
		text-align: center;
		margin-top: 40px;
		padding-bottom: 45px;
	}
	
	.about_icon ul li {
		/* display: inline; */
		margin: 0 0;
	}
	
	.about_icon ul li a {
		/* position: relative;
		display: inline-block; */
		width: 60px;
		height: 60px;
		margin: 0 20px;
		/* color: #fff; */
		/* a태그 효과 */
		/* transition: all 0.3s ease; */
	}

	.about_icon ul li a img {
		width: 100%;
	}
	
	/* .about_icon ul li p {
		position: absolute;
		top: -70px;
		left: 50%;
		width: 80px;
		transform: translateX(-50%);
		font-size: 12px;
		line-height: 1.6;
		background-color: #507e65;
		padding: 5px 9px;
		border-radius: 6px 0;
		opacity: 0;
		transition: all 0.3s ease;
	} */
	
	/* .about_icon ul li p::before {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		margin-left: -5px;
		border-top: 5px solid #507e65;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	} */
	
	/* .about_icon ul li a:hover p {
		opacity: 1;
		top: -60px;
	} */
	/* a태그 효과 */
	/* .about_icon ul li a:hover {
		box-shadow: 0 0 0 3px rgba(80, 126, 101, 0.9) inset,
		0 0 0 100px rgba(0, 0, 0, 0.1) inset;
	} */ 
	
	/* .icon_br {
		display: block;
	} */
	
	/* .about_btn {
		text-align: center;
		margin: 5px 0;
	} */
	
	/* .about_btn a {
		color: #fff;
		background-color: #507e65;
		padding: 10px 40px 7px;
		border-radius: 50px;
	} */
	
	/* .about_btn a:hover {
		background-color: #4e6458;
	} */

}

/*-------------------------------------------------------*/
/*04_BEST product*/
/*-------------------------------------------------------*/
/* 1920 ~ 1320px */
#best_wrap {
	width: 100%;
}

.best_center {
	width: 1320px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.best_text {
	color: #4e6458;
	text-align: center;
}

.best_tx1 {
	color: #a67c52;
	font-size: 17px;
	font-weight: 700;
	margin: 10px 0 20px;
}

.best_picbox a {
	position: relative;
	float: left;
	width: 19%;
	margin: 0.5%;
	overflow: hidden;
}

.best_picbox a img {
	width: 100%;
	display: block;
}

.best_picbox a em {
	background-color: rgba(0, 0, 0, 0.77);
	color: #fff;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -30px;
	opacity: 1;
	transition: all .3s ease;

}

.best_picbox a:hover em {
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.57);
}

.best_picbox a:hover img {
	filter: sepia(100%);
}

/*-------------------------------------------------------*/
/* 1319 ~ 768px */
/*-------------------------------------------------------*/
@media screen and (max-width: 1319px) {
	/* #best_wrap {
		width: 100%;
	} */
	
	.best_center {
		width: 100%;
		/* margin: 0 auto; */
		margin-bottom: 100px;
	}
	
	/* .best_text {
		color: #4e6458;
		text-align: center;
	} */
	
	/* .best_tx1 {
		color: #a67c52;
		font-size: 17px;
		font-weight: 700;
		margin: 10px 0 20px;
	} */
	
	/* .best_picbox a {
		position: relative;
		float: left;
		width: 19%;
		margin: 0.5%;
		overflow: hidden;
	} */
	
	/* .best_picbox a img {
		width: 100%;
		display: block;
	} */
	
	/* .best_picbox a em {
		background-color: rgba(0, 0, 0, 0.77);
		color: #fff;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: -30px;
		opacity: 1;
		transition: all .3s ease;
	
	} */
	
	/* .best_picbox a:hover em {
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.57);
	} */
	
	/* .best_picbox a:hover img {
		filter: sepia(100%);
	} */

}

/*-------------------------------------------------------*/
/* 768 ~ 371px */
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {
	/* #best_wrap {
		width: 100%;
	} */
	
	.best_center {
		width: 100%;
		margin-bottom: 50px;
		/* margin: 0 auto; */
	}
	
	/* .best_text {
		color: #4e6458;
		text-align: center;
	} */
	
	/* .best_tx1 {
		color: #a67c52;
		font-size: 17px;
		font-weight: 700;
		margin: 10px 0 20px;
	} */
	
	.best_picbox a {
		/* position: relative;
		float: left; */
		width: 49%;
		/* margin: 0.5%;
		overflow: hidden; */
	}
	
	/* .best_picbox a img {
		width: 100%;
		display: block;
	} */
	
	/* .best_picbox a em {
		background-color: rgba(0, 0, 0, 0.77);
		color: #fff;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: -30px;
		opacity: 1;
		transition: all .3s ease;
	
	} */
	
	/* .best_picbox a:hover em {
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.57);
	} */
	
	/* .best_picbox a:hover img {
		filter: sepia(100%);
	} */
	
}

/*-------------------------------------------------------*/
/* 05_make to order - 1920 ~ 1320px (PC) */
/*-------------------------------------------------------*/

#make_wrap {
	width: 100%;
	height: 200px;
	margin-bottom: 100px;
	background-image: url(../images/05_make/make_bg_or.jpg);
	background-position: center;
	background-attachment: fixed;
    background-repeat: repeat;
}

.make_center {
	width: 1320px;
	margin: 0 auto;	
}

.make_text {
	text-align: center;
	padding-top: 5vh;
}

.make_text h1 {
	color: #fff;
	text-shadow: 5px 5px 8px  #824618;
}

.make_tx1 {
	font-family: 'NEXON Lv2 Gothic';
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	margin: 10px 0;
}

.make_btn {
	text-align: center;
	margin: 30px 0;
}

.make_btn a {
	color: #fff;
	background-color: rgba(255, 255, 255, 0);
	padding: 10px 40px 7px;
	border: 3px solid #fff;
	border-radius: 50px;
	transition: box-shadow 0.25s ease-in-out;
}

.make_btn a:hover {
	border: 3px solid #a67c52;
	box-shadow: inset -500px 0 0 0 #824618;
}


/*-------------------------------------------------------*/
/* 05_make to order - 1319 ~ 769px (PC) */
/*-------------------------------------------------------*/

	@media screen and (max-width: 1319px) {

		#make_wrap {
			margin-bottom: 100px;
		}
		
		.make_center {
			width: 100%;
		}
		
	}

/*-------------------------------------------------------*/
/* 05_make to order - 768 ~ 371px (tablet) */
/*-------------------------------------------------------*/

	@media screen and (max-width: 768px) {
		
		#make_wrap {
			margin-bottom: 50px;
		}
		
		.make_center {
			width: 100%;
		}
		
		.make_text {
			text-align: center;
			padding-top: 3.5vh;
		}
			
		.make_tx1 {
			font-size: 15px;
			text-shadow: 5px 5px 5px  #824618;
		}
		
		.make_br {
			display: block;
		}
	
	}

/*-------------------------------------------------------*/
/* 05_make to order - 370 ~ 0px (mobile) */
/*-------------------------------------------------------*/

	@media screen and (max-width: 370px) {

		#make_wrap {
			margin-bottom: 100px;
		}
		
		.make_center {
			width: 100%;
		}
		
		.make_text {
			padding-top: 3.5vh;
		}
			
		.make_tx1 {
			font-size: 15px;
			font-weight: 500;
			text-shadow: 5px 5px 5px  #824618;
		}
		
		.make_br {
			display: block;
		}
		
	}
	

/*-------------------------------------------------------*/
/* 06_BEST review - 1920 ~ 1320px (PC) */
/*-------------------------------------------------------*/

#review_wrap {
	width: 100%;
	margin-bottom: 100px;
}

.review_center {
	width: 1320px;
	margin: 0px auto;
	overflow: hidden;
}

/*-------------------------------------------------------*/

 /* 사이드 이펙트1 */
 .review {
	position: relative;
	perspective: 600px; 
	display: block;
	width: 390px;
	height: 300px;
	overflow: hidden;
}

.review img {
	width: 100%;
}

 .review .front {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: all 0.5s ease-in-out;
	backface-visibility: hidden;
	background-image: url(../images/06_review/review_img_390_02_01.png);
	background-repeat: no-repeat;
	background-position: center;
 }
 .review .back {
	 position: absolute; top: 0; left: 0;
	 width: 100%; height: 100%; z-index: -1;
	 transform-style: preserve-3d;
	 color: #fff;
	 /* background: #4038dc; */
	 transform: rotateY(-180deg);
	 transition: all 0.5s ease-in-out;
	 backface-visibility: hidden;
	 background-image: url(../images/06_review/review_img_390_01.png);
	 background-repeat: no-repeat;
	 background-position: center;
 }

.review_2 .front {
	background-image: url(../images/06_review/review_img_390_02_02.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_2 .back {
	background-image: url(../images/06_review/review_img_390_02.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_3 .front {
	background-image: url(../images/06_review/review_img_390_02_03.png);
	background-repeat: no-repeat;
	background-position: center;
}

.review_3 .back {
	background-image: url(../images/06_review/review_img_390_03.png);
	background-repeat: no-repeat;
	background-position: center;
}



 .review:hover .front {transform: rotateY(180deg)}
 .review:hover .back {transform: rotateY(0deg); z-index: 1;}

 /*-------------------------------------------------------*/

 .review_text {
	text-align: center;
 }

 .review_text h1 {
	color: #4e6458;
	margin: 1px 0 20px;
} 

.review_text p {
	font-family: 'NEXON Lv2 Gothic';
	font-weight: 600;
	color: #a67c52;
	font-size: 17px;
	margin: 10px 0 20px;
}

/*-------------------------------------------------------*/
.review_box {
	width: 100%;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}
.review_box .review {
	text-align: center;
}	

.front_text {
	padding: 20px;
}

.front h2 {
	color: #fff;
	margin: 10px 0;
}

.review_tx1 {
	font-family: 'NEXON Lv2 Gothic';
	font-size: 16px;
	color: #ffc68c;
	padding: 20px 0;
	border-top: 1px solid #ffc68c;
	border-bottom: 1px solid #ffc68c;
}

.review_tx2 {
	font-family: 'NEXON Lv2 Gothic';
	font-size: 15px;
	color: #d8d8d8;
	padding: 20px 0;
}

.review_br {
	display: block;
}

.review_tx3 {
	color: #d8d8d8;
}


/*-------------------------------------------------------*/
/* 06_BEST review - 1319 ~ 769px (PC) */
/*-------------------------------------------------------*/

	@media screen and (max-width: 1319px) {
	
		.review_center {
			width: 100%;
		}

/*-------------------------------------------------------*/

 /* 사이드 이펙트1 */
		.review {
			width: 60%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

		.review .front {
			background-image: url();
 		}

 		.review .back {
			background-image: url(../images/06_review/review_img_or_01.jpg);
			background-size: cover;
 		}

		.side2 .front {
			background-image: url();
		}

		.side2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.side3 .front {
			background-image: url();
		}

		.side3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

 /*-------------------------------------------------------*/

/*-------------------------------------------------------*/
		.review_box {
			flex-direction: column;
		}
	}

/*-------------------------------------------------------*/
/* 06_BEST review - 768 ~ 371px (tablet) */
/*-------------------------------------------------------*/
	@media screen and (max-width: 768px) {
	
		#review_wrap {
			margin-bottom: 50px;
		}
		
		.review_center {
			width: 100%;
		}	

/*-------------------------------------------------------*/

 		/* 사이드 이펙트1 */
 		.review {
			width: 90%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

		.review .front {
			background-image: url();
 		}
 		.review .back {
			background-image: url(../images/06_review/review_img_or_01.jpg);
			background-size: cover;
 		}

		.review_2 .front {
			background-image: url();
		}

		.review_2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.review_3 .front {
			background-image: url();
		}

		.review_3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

	}
	
/*-------------------------------------------------------*/
/* 06_BEST review - 370 ~ 0px (mobile) */
/*-------------------------------------------------------*/
	@media screen and (max-width: 370px) {
	
		#review_wrap {
			margin-bottom: 50px;
		}

		.review_center {
		width: 100%;
		}

/*-------------------------------------------------------*/

 		/* 사이드 이펙트1 */
 		.review {
			width: 90%;
			margin: 0 auto 2vh;
			border: 1px solid #ddd;
		}

 		.review .front {
			background-image: url();
 		}

 		.review .back {
		 background-image: url(../images/06_review/review_img_or_01.jpg);
		 background-size: cover;
		}

		.review_2 .front {
			background-image: url();
		}

		.review_2 .back {
			background-image: url(../images/06_review/review_img_or_02.jpg);
			background-size: cover;
		}

		.review_3 .front {
			background-image: url();
		}

		.review_3 .back {
			background-image: url(../images/06_review/review_img_or_03.jpg);
			background-size: cover;
		}

	}
	
/*-------------------------------------------------------*/
/*07_SALE EVENT*/
/* 1920 ~ 1320px(PC) */
/*-------------------------------------------------------*/
#sale_wrap {
	width: 100%;
	height: 200px;
	background-color: #996055;
}

.sale_center {
	width: 1320px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.sale_text {
	width: 40%;
	height: 200px;
	float: left;
	padding: 60px 0;
	box-sizing: border-box;
}

.sale_bnn {
	width: 60%;
	height: 200px;
	float: right;
	background-color: #fff;
	padding: 3% 2%;
	box-sizing: border-box;
	background-image: url(../images/07_sale/sale_img_bg.png);
	background-repeat: no-repeat;
	background-position: center right 20px;
}

.sale_et1 {
	font-size: 18px;
	color: #fff;
}

.sale_text h1 {
	font-size: 24px;
	color: #fff;
	margin: 5px 0 10px;
}

.sale_et2 {
	font-size: 16px;
	color: #fff;
}

.sale_et3 {
	font-size: 13px;
	color: rgb(180, 180, 180);
}

.sale_et4 {
	font-size: 20px;
	color: #996055;
	font-weight: 700;
}

.sale_et5 {
	font-size: 16px;
	color: rgb(128, 128, 128);
}

.sale_btn {
	margin-top: 20px;
}

.sale_btn a {
	color: #fff;
	background-color: #996055;
	padding: 10px 40px 7px;
	border-radius: 50px;
}

.sale_btn a:hover {
	background-color: #963521;
}

/*-------------------------------------------------------*/
/*07_SALE EVENT*/
/* 1320px ~ 769px(PC) */
/*-------------------------------------------------------*/

@media screen and (max-width: 1319px) {
	
	.sale_center {
		width: 100%;
	}
	
	.sale_text {
	padding: 4.5% 2%;
	}
	
	.sale_bnn {
		padding: 3%;
		background-position: center right 2%;
	}

	.sale_bnn {
		width: 60%;
		height: 200px;
		float: right;
		background-color: #fff;
		padding: 3% 2%;
		box-sizing: border-box;
		background-image: url();
		background-repeat: no-repeat;
		background-position: center right 20px;
	}
	
	}
	
/*-------------------------------------------------------*/
/*07_SALE EVENT*/
/* 769 ~ 371px(tablet) */
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {

	.sale_center {
		width: 100%;
	}
	
	.sale_text {
		width: 100%;
		height: 150px;
		text-align: center;
	}
	
	.sale_bnn {
		width: 100%;
		height: 200px;
		padding: 10px;
		background-image: url();
	}

	.sale_et1 {
		font-size: 14px;
		color: #fff;
	}
	
	.sale_text h1 {
		font-size: 18px;
		color: #fff;
		margin: 5px 0 10px;
	}
	
	.sale_et2 {
		font-size: 12px;
		color: #fff;
	}
	
	.sale_et3 {
		font-size: 12px;
		color: rgb(180, 180, 180);
	}
	
	.sale_et4 {
		font-size: 15px;
		color: #996055;
		font-weight: 700;
	}
	
	.sale_et5 {
		font-size: 12px;
		line-height: 20px;
		color: rgb(128, 128, 128);
	}
}
		
/*-------------------------------------------------------*/
/*07_SALE EVENT*/
/* 371px ~ (mobile) */
/*-------------------------------------------------------*/
@media screen and (max-width: 370px) {
	.sale_center {
		width: 100%;
	}
	
	.sale_text {
		width: 100%;
		height: 150px;
		text-align: center;
	}
	
	.sale_bnn {
		width: 100%;
		height: 200px;
		padding: 10px;
		background-image: url();
	}

	.sale_et1 {
		font-size: 14px;
		color: #fff;
	}
	
	.sale_text h1 {
		font-size: 18px;
		color: #fff;
		margin: 5px 0 10px;
	}
	
	.sale_et2 {
		font-size: 12px;
		color: #fff;
	}
	
	.sale_et3 {
		font-size: 12px;
		color: rgb(180, 180, 180);
	}
	
	.sale_et4 {
		font-size: 15px;
		color: #996055;
		font-weight: 700;
	}
	
	.sale_et5 {
		font-size: 12px;
		line-height: 20px;
		color: rgb(128, 128, 128);
	}
	
	}

/*-------------------------------------------------------*/
/*08_NEW PRODUCT*/
/* 1920 ~ 1320px(PC) */
/*-------------------------------------------------------*/
#new_wrap {
	width: 100%;
}

.new_center {
	width: 1320px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.new_text {
	text-align: center;
}

 .new_text h1 {
	color: #4e6458;
	margin: 20px 0;
} 

.new_text p {
	color: #9c9c9c;
	font-size: 17px;
	font-weight: 700;
	margin: 10px 0 20px;
}

.new_br {
	display: block;
}

/*-------------------------------------------------------*/
.new_picbox {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.side3 {
	width: 19%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}

.side3 figcaption {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	text-align: center;
	opacity: 0;
	text-transform: uppercase;
	transition: all 0.3s ease;
	transform: translate(350%, -50%) rotate(180deg);
}

.side3 figcaption::after {
	content: '';
	width: 15em;
	height: 15em;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}

.side3 figcaption h3 {
	font-size: 16px;
}

.side3 figcaption em {
	display: block;
	font-weight: bold;

}

.side3 img { 
	display: block;
	transition: all 0.3s ease;
}

.side3:hover img {
	opacity: 0.4;
}

.side3:hover figcaption {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
}










/*-------------------------------------------------------*/
/*07_NEW PRODUCT*/
/* 1320px ~ 769px(PC) */
/*-------------------------------------------------------*/

@media screen and (max-width: 1319px) {
	
	#new_wrap {
		width: 100%;
	}
	
	.new_center {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 100px;
	}
	
	.new_text {
		text-align: center;
	}
	
	 .new_text h1 {
		color: #4e6458;
		margin: 20px 0;
	} 
	
	.new_text p {
		color: #9c9c9c;
		font-size: 17px;
		font-weight: 700;
		margin: 10px 0 20px;
	}
	
	.new_br {
		display: block;
	}
	
	/*-------------------------------------------------------*/
	.new_picbox {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.side3 {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		background-color: #fff;
	}
	
	.side3 figcaption {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		text-align: center;
		opacity: 0;
		text-transform: uppercase;
		transition: all 0.3s ease;
		transform: translate(350%, -50%) rotate(180deg);
	}
	
	.side3 figcaption::after {
		content: '';
		width: 15em;
		height: 15em;
		background-color: #000;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
	}
	
	.side3 figcaption h3 {
		font-size: 16px;
	}
	
	.side3 figcaption em {
		display: block;
		font-weight: bold;
	
	}
	
	.side3 img { 
		display: block;
		transition: all 0.3s ease;
	}
	
	.side3:hover img {
		opacity: 0.4;
	}
	
	.side3:hover figcaption {
		transform: translate(-50%, -50%) rotate(0deg);
		opacity: 1;
	}


}
/*-------------------------------------------------------*/
/*07_NEW PRODUCT*/
/* 768 ~ 371px(tablet) */
/*-------------------------------------------------------*/
@media screen and (max-width: 768px) {

}
		
/*-------------------------------------------------------*/
/*07_NEW PRODUCT*/
/* 370px ~ (mobile) */
/*-------------------------------------------------------*/
@media screen and (max-width: 370px) {
	
	}



/*-------------------------------------------------------*/
/*08_footer*/
/* 1920 ~ 1320px(PC) */
/*-------------------------------------------------------*/
	#footer {
		width: 100%;
	}

	.container {
		width: 1320px;
		margin: 0 auto;
	}

	.footer {
		text-align: center; 
		padding: 30px 50px;
	} 

	.footer li {
		position: relative; 
		display: inline; 
		padding: 0 7px 0 10px; 
		white-space: nowrap;
	
	}

	.footer li:before {
		content: ''; 
		width: 1px; 
		height: 12px; 
		background-color: #dbdbdb; 
		position: absolute; 
		left: 0; top: 2px;
	}

	.footer li:first-child:before {
		width: 0;
	}

	.footer address {
		padding-top: 15px;
	}

	.footer h1{
		font-size: 15px;
		margin-bottom: 1%;
	}

/*-------------------------------------------------------*/
/*08_footer*/
/* 1319 ~ 371px(tablet) */
/*-------------------------------------------------------*/
	/*tablet*/
	@media (min-width:371px) and (max-width:1319px) {
		#footer {
			width: 100%;
		}
		.container {
			width: 100%;
			margin: 0 auto;
		}
		.footer {
			text-align: center; 
			padding: 30px 50px;
		} 
		.footer li {
			position: relative; 
			display: inline; 
			padding: 0 7px 0 10px; 
			white-space: nowrap;}
		.footer li:before {
			content: ''; 
			width: 1px; 
			height: 12px; 
			background-color: #dbdbdb; 
			position: absolute; 
			left: 0; top: 2px;
		}
		.footer li:first-child:before {
			width: 0;
		}
		.footer address {
			padding-top: 15px;
		}
		.footer h1{
			font-size: 15px;
			margin-bottom: 1%;
		}
	}

/*-------------------------------------------------------*/
/*08_footer*/
/* 370px ~ (mobile) */
/*-------------------------------------------------------*/
@media screen and (max-width: 370px) {
	#footer {
		width: 100%;
	}
	.container {
		width: 100%;
		margin: 0 auto;
	}
	.footer {
		text-align: center; 
		padding: 30px 0px;
	} 
	.footer li {
		position: relative; 
		display: inline; 
		padding: 0 7px 0 10px; 
		white-space: nowrap;}
	.footer li:before {
		content: ''; 
		width: 1px; 
		height: 12px; 
		background-color: #dbdbdb; 
		position: absolute; 
		left: 0; top: 2px;
	}
	.footer li:first-child:before {
		width: 0;
	}
	.footer address {
		padding-top: 15px;
	}
	.footer h1{
		font-size: 15px;
		margin-bottom: 1%;
	}	
}

	/*///////////////////////////////////////////////////////*/
	/*-------------------------------------------------------*/
	/*08_footer - end*/
	/*-------------------------------------------------------*/	