/*-------------------------------------------------------*/
/*공용*/
/*-------------------------------------------------------*/
@charset "UTF-8";
@font-face {
	font-family:'GmarketSansMedium';
	src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { margin:0; padding:0; }
ul,ol { list-style:none; }
a { color:#000; text-decoration:none; }
/* 여백 초기화 */
body, div, dl, dd, dt, ul, li, ol, h1, h2, h3, h4, h5, h6, form, input, legend, textarea, select, fieldset, p, button {margin: 0; padding: 0;}
/* clearfix float 사용시 안정성 높음 */
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
/*-------------------------------------------------------*/
/*공용 - 끝*/
/*-------------------------------------------------------*/


